{% load static %}

<nav class="flex items-center justify-between flex-wrap bg-blue-900 pt-3 pb-1 px-10">
  <div class="flex items-center flex-shrink-0 text-white">
      <a href="{% url 'home' %}">
        <img  class="h-16 w-16"  alt="Logo" src ="{% static 'upay_logo_revised.png' %}"/>
      </a>
  </div>
    <h1 class="text-2xl font-bold ml-40 text-center text-white">Credit Scoring Engine for Loan Disbursement</h1>

    <div class="flex">
      <!-- Content on the left -->
      <div class="text-md lg:flex-grow">
              <a href="{% url 'home' %}" class="mr-2 inline-block font-bold text-1xl px-2 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-white hover:bg-yellow-500 mt-4 lg:mt-0">Home</a>
              <a href="{% url 'upload_csv' %}" class="inline-block font-bold text-1xl px-2 py-2 leading-none bg-blue-900 rounded text-white border-white hover:border-transparent hover:text-white hover:bg-yellow-500 mt-4 lg:mt-0">Loan Eligibility Test</a>
      </div>
  
  </div>
  
  </nav>


